<div class="list-group">
  <% @items.each do |item| %>
    <div class="row">
        <div class="col-1">
          <%= link_to 'Edit', item_path(item), class: 'btn btn-success' %>
          <!-- <button type="button" class="btn btn-success">Edit</button> -->
        </div>
        <div class="col-10">
          <h3><%= item.name %></h3>
          <i><%= item.date %></i>
          <p><%= item.description %></p>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
  <% end %>
</div>
