@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Anton');
.logo {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  vertical-align: middle;
  color: #5cb85c;
}
.navbar > a {
  text-decoration: none;
}
.navbar-text {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  font-style: italic;
}
@media (max-width: 425px) {
  .navbar-flavor-text {
    display: none;
  }
}
.item-link, .item-link:hover, .item-link:active, .item-link:visited {
  text-decoration: none;
  color: black;
}
.item-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}
.action-buttons {
  border-radius: 0;
}
.new-item-link {

}

.new-item-link a{
  font-family: 'Anton', sans-serif;
  text-decoration: none;
  color: #5cb85c;

}
