@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Anton');
.logo {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  vertical-align: middle;
  color: #5cb85c;
}
.navbar-text {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  font-style: italic;
}
@media (max-width: 425px) {
  .navbar-flavor-text {
    display: none;
  }
}
li {
  list-style: none;
}
